/.idea/artifacts
/.idea/libraries
/.idea/workspace.xml
/.idea/gradle.xml
.gradle
/app/config/local.properties
/app/web/WEB-INF/classes/
/.bksh
bksh
.DS_Store
*.iml
build
out
classes
.project
.settings
.classpath
bin
helm_cache
.idea/encodings.xml
